extends layout

block content
    header#index
        .background-holder
        .center-bar
            .title
                h1.dt-border="RevYou"
                p="Find Reviews On: "
                    span.alterable.dt-text="Anything"
                br
                form.search-form(action="query" method="GET")
                    input.product-type.no-display(name="productType", value="")
                    div.form-group
                        input.form-control(name="search" type="text" placeholder="Games, Shoes, Movies, Books ...")
                    div.form-group
                        input.form-control.submit(type="submit")
    main#index
        section.newReview
            //- each item in results
            //-     +product(item)
            //- mixin product(item)
            .image-container
                img(src="")
            .desc
                h3="itemname"
                hr
                p="itemdesc"
            .stat
                h6.orange-t="Type - " 
                h6="Likes - 10231"
                h6="Reviews - 643"
            hr
        section.right
            section.popularUser
                h1="Popular Users"
            section.unclearArea
                h1="Unclear Area"
    script(type="text/javascript" src="/javascripts/index.js")
