extends layout

block content
    header#index
        .background-holder
        .center-bar
            .title
                h1.dt-border="RevYou"
                p="Find Reviews On: "
                    span.alterable.dt-text="Anything"
                br
                form.search-form(action="query" method="GET")
                    input.product-type.no-display(name="productType", value="")
                    div.form-group
                        input.form-control(name="search" type="text" placeholder="Games, Shoes, Movies, Books ...")
                    div.form-group
                        input.form-control.submit(type="submit")
    main#index
        section.newReview
            mixin product(item)
                section()
                    .image-container
                        img(src=item.imageLink)
                    .desc
                        h3=item.name
                        hr
                        p=item.desc
                    .stat
                        h6.dt-text="Type - " + item.type
                        h6="Release Date - " + item.releaseDate
                        h6="Ratings - " + item.score + "/100"
                        h6="Likes - " + item.trackers.likes
                        h6="Reviews - " + item.trackers.reviews
                        a.view-details.dt-hover.dt-borderh(href="/review/" + item.type + "/" + item.id) 
                            p View Details
        section.right
            section.popularUser
                h1="Popular Users"
            section.unclearArea
                h1="Unclear Area"
    script(type="text/javascript" src="/javascripts/index.js")
