extends layout

block content
    header#index
        .background-holder
        .center-bar
            .title
                h1.dt-border="RevYou"
                p="Find Reviews On: "
                    span.alterable.dt-text="Anything"
                br
                form.search-form(action="query" method="GET")
                    input.product-type.no-display(name="productType", value="")
                    div.form-group
                        input.form-control(name="search" type="text" placeholder="Games, Shoes, Movies, Books ...")
                    div.form-group
                        input.form-control.submit(type="submit")
    main#index
        section.newReview
            h1 People's Thoughts
            if dataSet.length > 0
                each data in dataSet
                    section.review
                        - var content = data.contents[0]
                        h3
                            a.dt-text(href="/profile/" + data.authorId)=data.authorId + " "
                            | Says
                            a.dt-text(href="/review/" + data.type + "/" + data.productId)=" " + data.item.name + " "
                            | Is
                            =" " + content.overall.title
                        h6=content.timestamp
                        p=content.overall.description
            else
                p There seems to be nothing here...
        section.right
            section.popularUser
                h1="Trending Users"
    script(type="text/javascript" src="/javascripts/index.js")
