extends layout

block content
    header#index
        .background-holder
        .center-bar
            .theme-selec
                ul
                    li.orange
                    li.cyan
                    li.pink
                    li.lime
            .title
                h1.dt-border="RevYou"
                p="Find Reviews On: "
                    span.alterable.dt-text="Anything"
                br
                form.search-form(action="query" method="GET")
                    input.product-type.no-display(name="productType", value="")
                    div.form-group
                        input.form-control(name="search" type="text" placeholder="Games, Shoes, Movies, Books ...")
                    div.form-group
                        input.form-control.submit(type="submit")
    main#index
        section.newReview
            p="New Review"
        section.right
            section.popularUser
                h1="Popular Users"
            section.unclearArea
                h1="Unclear Area"
