extends layout

block content
    header#index
        .background-holder
        .center-bar
            .title
                h1.dt-border="RevYou"
                p="Find Reviews On: "
                    span.alterable.dt-text="Anything"
                br
                form.search-form(action="query" method="GET")
                    input.product-type.no-display(name="productType", value="")
                    div.form-group
                        input.form-control(name="search" type="text" placeholder="Games, Shoes, Movies, Books ...")
                    div.form-group
                        input.form-control.submit(type="submit")
    main#index
        section.newReview
<<<<<<< HEAD
            h1 People's Thoughts
            each data in dataSet
                section.review
                    - var content = data.contents[0]
                    h3
                        a.dt-text(href="/profile/" + data.authorId)=data.authorId + " "
                        | Says
                        a.dt-text(href="/review/" + data.type + "/" + data.productId)=" " + data.item.name + " "
                        | Is
                        =" " + content.overall.title
                    h6=content.timestamp
                    p=content.overall.description
=======
            mixin product(item)
                section()
                    .image-container
                        img(src=item.imageLink)
                    .desc
                        h3=item.name
                        hr
                        p=item.desc
                    .stat
                        h6.dt-text="Type - " + item.type
                        h6="Release Date - " + item.releaseDate
                        h6="Ratings - " + item.score + "/100"
                        h6="Likes - " + item.trackers.likes
                        h6="Reviews - " + item.trackers.reviews
                        a.view-details.dt-hover.dt-borderh(href="/review/" + item.type + "/" + item.id) 
                            p View Details
>>>>>>> 2550c01d10d6602dd70ee80d2f1bc37308e0ecab
        section.right
            section.popularUser
                h1="Trending Users"
    script(type="text/javascript" src="/javascripts/index.js")
