doctype html
html
    head
        meta(charset="utf-8")
        meta(name="author" content="RATBIT")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="description", content="DNUI Project")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title=title
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:400,700|Oswald:300,400,700")
        link(rel="stylesheet", type="text/css", href="/node_modules/reset.css/reset.css")
        link(rel="stylesheet", type="text/css", href="/node_modules/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/node_modules/ionicons/dist/css/ionicons.min.css")
        link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
        link(rel="icon" href="/images/favicon.ico")
        link(rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png")
        link(rel="manifest" href="/images/manifest.json")
        meta(name="theme-color" content="#ffffff")
        script(type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js")
        script(type="text/javascript" src="/node_modules/imagesloaded/imagesloaded.pkgd.min.js")
    body
        #loader
            .title-holder
                h1
                    span.blinker .
                    span R
                    |ev
                    span Y
                    |ou
        #nav-button-left.dt-hover.dt-texth
            ion-icon(name="keypad")
        #nav-button-right.dt-hover.dt-texth
            ion-icon(name="person")
        nav#pages
            .button-container
                .bar.dt-bg
                ul
                    li.dt-hover.dt-hover-children.dt-borderh
                        ion-icon.dt-hover.dt-texth(name="basket")
                        p Anything
                    li.dt-hover.dt-hover-children.dt-borderh
                        ion-icon.dt-hover.dt-texth(name="logo-game-controller-a")
                        p Games
                    li.dt-hover.dt-hover-children.dt-borderh
                        ion-icon.dt-hover.dt-texth(name="tv")
                        p Movies
                    li.dt-hover.dt-hover-children.dt-borderh 
                        ion-icon.dt-hover.dt-texth(name="book")
                        p Books
                    li.dt-hover.dt-hover-children.dt-borderh 
                        ion-icon.dt-hover.dt-texth(name="shirt")
                        p Clothes
                    li.dt-hover.dt-hover-children.dt-borderh 
                        ion-icon.dt-hover.dt-texth(name="umbrella")
                        p Other
        nav#user-nav
            .button-container
                .bar.dt-bg
                ul
                    li.dt-hover.dt-hover-children.dt-borderh.home
                        ion-icon.dt-hover.dt-texth(name="home")
                        p Home
                    li.dt-hover.dt-hover-children.dt-borderh.profile
                        ion-icon.dt-hover.dt-texth(name="contact")
                        p Profile
                    li.dt-hover.dt-hover-children.dt-borderh
                        ion-icon.dt-hover.dt-texth(name="options")
                        p Settings
                    li.dt-hover.dt-hover-children.dt-borderh
                        ion-icon.dt-hover.dt-texth(name="beaker")
                        p Themes
                    li.dt-hover.dt-hover-children.dt-borderh.login
                        ion-icon.dt-hover.dt-texth(name="key")
                        p Sign In
        section.form-container
            .clickable-bg
            .dynamic-form.login-form
                ion-icon.close(name="close")
                section
                    h2="Welcome Back!"
                    hr
                    form(action="user", method="get")
                        section
                            h4="Username"
                            input.info.username(type="text", name="username", placeholder="JamesBurns69")
                        section
                            h4="Password"
                            input.info.password(type="password", name="password", placeholder="********")
                        section.error
                            p=""
                        section.buttons
                            .button.submit Login
                            .button.register New User? Register Here!
            .dynamic-form.register-form
                ion-icon.close(name="close")
                section
                    h2="Register New Account"
                    hr
                    form(action="user", method="get")
                        section
                            h4="Username"
                            input.info.username(type="text", name="username", placeholder="JamesBurns69")
                        section
                            h4="Password"
                            input.info.password(type="password", name="password", placeholder="********")
                        section
                            h4="Confirm Password"
                            input.info.cpassword(type="password", name="cpassword", placeholder="********")
                        section.error
                            p=""
                        section.buttons
                            .button.submit Register
                            .button.login Existing User? Login Here!
            .dynamic-form.add-review-form
                ion-icon.close(name="close")
                section.large-form
                    h2="Add Review"
                    hr
                    form(action="user", method="get")
                        section
                            h4="Review"
                            textarea.review-text(type="textarea", name="review-text")
                        section
                            h4="Overall Rating"
                            input.overall(type="text", name="review-overall", placeholder="/100")
                        section
                            h4="Custom Ratings (Optional)" 
                        - var n = 0
                        while n < 8
                            section.catagory
                                input.cat(type="text", name="review-cat" + n, placeholder="Gameplay, Material, etc...")
                                input.rating(type="text", name="review-rating" + n, placeholder="/100")
                            - n++
                        section.error
                            p=""
                        section.buttons
                            .button.submit Add
        // .theme-selec
    block content
    script(type="text/javascript" src="/javascripts/theme.js")
    script(type="text/javascript" src="/javascripts/loader.js")
    script(type="text/javascript" src="/javascripts/navigation.js")

    script(type="text/javascript" src="/javascripts/form.js")
    script(type="text/javascript" src="/node_modules/ionicons/dist/ionicons.js")
    