extends layout

block content
	main#profile
		header
			//- this header will have the circle image and orange background
			.profile-header
				.profile-user-header
					img.profile-image
					//- profile image for users
					p#username="insert username here"
					p#sponsered="not sponsered"
			.profile-foll-rep
				p#followers="Followers: 1M"	
				p#reputation="Reputation: 1,336"
		div.profile-details
			.profile-buttons
				.button-left
					button(type="button" name='Message' text="message")="Message"
				.button-middle
					button(type="button" name='follow' text="follow")="Follow"
				.button-right
					button(type="button" name='like' text="like")="Like"
			.user-details
				h2#details="Details"
				p#name="Name: "
				p#age="Age: "
				p#fav-game="Favourite Games: "
				p#genre="Genre: "
				p#email="E-mail: "
			.profile-recent-comments
				h2#rec-comm="Recent Reviews"