extends layout

block content
	main#profile
		header.dt-bg
			.profile-header
				img.profile-image(src="/images/placeholder.png")
			.profile-name
				h2=user.id + "'s Profile"
		section.reviews
			h3=user.id + "'s Reviews"
			if reviewSet.length > 0
				each review in reviewSet
					.review
						- var content = review[0].contents[0]
						- var product = review[1]
						a(href="/review/" + product.type + "/" + review[0].productId)
							h3.dt-text=product.name
						h6=content.timestamp
						p=content.overall.description
						each sub in content.categories
							h6=sub.title + ": " + sub.rating + "/100"
						h6="Total Score: " + content.overall.rating + "/100"
						.buttons
							.button.dt-hover.dt-borderh
								p="Like"
							.button.dt-hover.dt-borderh
								p="Comment"
							.button.dt-hover.dt-borderh
								p="Edit"
			else
				p Oops theres nothing here
