extends layout

block content
	header
		//- this header will have the circle image and orange background
		.profile-header
			.profile-user-header
				img.profile-image
				//- profile image for users
				p#username="insert username here"
				p#sponsered="not sponsered"
				p="this is the orange background for profile pic"
			.profile-followers
				p#followers="Followers: 1M"	
			.profile-reputation
				p#reputation="Reputation: 1,336"
	div.profile-details
		p=""