extends layout
block content
    h2(align="center")="Results"
    main#query
        form(action="query" method="GET")
            input.product-type.no-display(name="productType", value=productType)
            div.form-group
                input.form-control(name="search" type="text" placeholder="Games, Shoes, Movies, Books ...")
            div.form-group
                input.form-control.submit(type="submit")
        if resultLength === 0
            h3="No results found"
        else
            each item in results
                if item.type === "games"
                    +product(item, "200px")
                else if item.type === "movies"
                    +product(item, "600px")
mixin product(item, height)
    section(style="height:" + height + ";")
        img(src=item.imageLink)
        .desc
            h3=item.name
            hr
            p=item.desc
        .stat
            h6 Likes
            h6 Reviews
            h6 