extends layout
block content
    h2(align="center")="Results"
    main#query
        form.search-form(action="query" method="GET")
            input.product-type.no-display(name="productType", value=productType)
            div.form-group
                input.form-control(name="search" type="text" placeholder="Games, Shoes, Movies, Books ...")
            div.form-group
                input.form-control.submit(type="submit")
        if resultLength === 0
            h3="No results found"
        else
            each item in results
                +product(item)
mixin product(item)
    section()
        .image-container
            img(src=item.imageLink)
        .desc
            h3=item.name
            hr
            p=item.desc
        .stat
            h6.orange-t="Type - " + item.type
            h6="Release Date - " + item.releaseDate
            h6="Ratings - " + item.score + "/100"
            h6="Likes - 10231"
            h6="Reviews - 643"