extends layout
block content
    main#review(pid=product.id, type=product.type)
        header
            section
                .image-container
                    img(src=product.imageLink)
                .description
                    h2=product.name
                    .stars
                        - var a = 0
                        while a < ratings.activeRating
                            .star.dt-bg
                            - a++
                        - var b = 0
                        while b < ratings.inactiveRating
                            .star.inactive
                            - b++
                    h5=product.type + " | " + product.releaseDate + " | " + product.score + "/100"
                    p=product.desc
        section.buttons
            .button.dt-hover.dt-borderh
                p Like
            .button.add-review.dt-hover.dt-borderh
                p Add Review
            .button.dt-hover.dt-borderh
                p Share
        section.reviews
            each review in reviewSet
                .review
                    - var content = review.contents[0]
                    a.dt-text(href="/profile/" + review.authorId)
                        h3=review.authorId + " Says " + content.overall.title
                    h6=content.timestamp
                    p=content.overall.description
                    each sub in content.categories
                        h6=sub.title + ": " + sub.rating + "/100"
                    h6="Total Score: " + content.overall.rating + "/100"
                .buttons
                    .button.dt-hover.dt-borderh
                        p="Like"
                    .button.dt-hover.dt-borderh
                        p="Comment"
            each x in [1, 1, 1, 1, 1]
                .review
                    h3 Anon says
                    h6 15/06/2018
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.